body {
	font-family: 'Lato', sans-serif;
	color: #676858;
	font-weight: 300;
}

a {
	color: #676858;
}

hr {
	border-top: 5px solid #bcbbbb;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size:  60px;
}

.title-logo {
	margin-top: 20px;
}